.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  text-decoration: none;
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, Raleway, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

.checbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  display: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.web {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}

.studio {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

.logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.modal {
  position: absolute;
  width: 100%;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms linear;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1) rotate(180deg);
  transition: transform 500ms linear;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form__title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (max-width: 1199px) {
  .modal-form__title {
    text-align: center;
  }
}

.modal-form__box {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form .modal-form__label + .modal-form__label {
  margin-top: 10px;
}

.modal-form__image {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms linear;
}

.modal-form__input:focus,
.modal-form__comment:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form__comment {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms linear;
}

.modal-form__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill 250ms linear;
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__check {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #212121;
}

.modal-form__checkbox {
  position: relative;
  padding-left: 24px;
}

@media screen and (min-width: 1200px) {
  .modal-form__checkbox {
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) and (min-width: 480px) {
  .modal-form__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .modal-form__checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__checkbox::before {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms linear;
}

@media screen and (min-width: 480px) {
  .modal-form__checkbox::before {
    top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__checkbox::before {
    position: static;
  }
}

.modal-form__checkbox::before:hover::before {
  border-color: #2196f3;
}

.modal-form__link {
  text-decoration: underline;
  color: #2196f3;
}

.modal-form__box:checked + .modal-form__check::before {
  border: none;
  background-image: url(../images/iconcheck.svg);
}

.modal-form__checkbox:focus + .modal-form__check::before {
  fill: #2196f3;
}

.modal-form__button {
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-self: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms linear;
}

.modal-form__button:hover, .modal-form__button:focus {
  background: #188ce8;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-icon {
  transition: fill 250ms linear;
}

.modal-btn:hover,
.modal-btn:focus {
  fill: #2196f3;
}

.burger {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.burger:hover, .burger:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #ffffff;
  transition: visibility 250ms linear, opacity 250ms linear;
}

@media screen and (min-width: 767px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.close:hover,
.close:focus {
  fill: #2196f3;
}

.burger__icon,
.close__icon {
  width: 40px;
  height: 40px;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  display: block;
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.76;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: #2196f3;
}

.mobile-nav {
  margin-bottom: 30px;
}

.mobile-nav__link--current {
  display: block;
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.76;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-nav__link--current {
    font-size: 40px;
  }
}

.mobile-menu__auth {
  display: block;
}

.mobile-auth {
  margin-bottom: 64px;
}

.mobile-auth__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-auth__tel {
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.78;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-auth__mail {
  font-weight: 500;
  font-size: 5vw;
  line-height: 28px;
  letter-spacing: 1.67;
  color: #757575;
}

.mobile-auth__mail:hover, .mobile-auth__mail:focus {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-auth {
    font-size: 34px;
  }
}

.mobile-network {
  display: flex;
  flex-wrap: wrap;
}

.mobile-network__link {
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .mobile-network__link {
    font-size: 4vw;
  }
}

.mobile-network__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.section__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: fill 250ms linear, background-color 250ms linear;
}

.team-social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-social.social__item + .tiam-social__icon {
  margin-left: 10px;
}

.header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  display: flex;
}

.site-nav {
  display: flex;
}

.site-nav--margin {
  margin-left: 93px;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    margin-left: 88px;
  }
}

.site-nav__item {
  display: inline-flex;
  vertical-align: middle;
  position: relative;
}

.site-nav .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link--current {
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-bottom: 32px;
  padding-top: 32px;
  text-decoration: none;
}

.site-nav__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background: #2196f3;
  border-radius: 2px;
  display: block;
  bottom: -1px;
}

.site-nav__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav__link {
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms linear;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact-nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contact-nav .contact-nav__item + .contact-nav__item {
    margin-left: 30px;
  }
}

.contact-nav__link {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .contact-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contact-nav__link {
  display: flex;
  transition: color 250ms linear;
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
  justify-content: center;
  transition: fill 250ms linear;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact-nav__icon {
    width: 14px;
  }
}

.contact-nav__icon:hover, .contact-nav__icon:focus {
  fill: #2196f3;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .mail {
    padding-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .tel {
    padding-bottom: 10px;
  }
}

.hero-section {
  max-width: 1600px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Hero480@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Hero480@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Hero768@1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Hero768@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Hero1200@1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Hero1200@2x.jpg");
  }
}

.hero-section .hero-title {
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-section {
    font-size: 44px;
    line-height: 1.36;
  }
}

.header-btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: #2196f3;
  transition: background-color 250ms linear;
}

.header-btn:hover, .header-btn:focus {
  background-color: #118ce8;
}

@media screen and (max-width: 767px) {
  .feature-list {
    display: block;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .feature-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature-item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feature-item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.title-feature {
  list-style: none;
  text-align: center;
  color: #212121;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .title-feature {
    text-align: left;
  }
}

.feature-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature-text {
  line-height: 1.71;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .business {
    display: none;
  }
}

.section--other-padding {
  padding-top: 0px;
}

.business-list {
  display: flex;
  justify-content: space-between;
}

.business-list__text {
  position: absolute;
  bottom: 27px;
  left: 83px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.business-list__work {
  position: relative;
}

.business-list__work::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.section--background {
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .team-list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    justify-content: space-between;
  }
}

.team-list__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team-list__info {
  padding: 30px 32px;
}

.team-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #757575;
}

.team-list-social {
  margin-top: 16px;
}

.team-social__link:hover,
.team-social__link:focus {
  background-color: #2196f3;
}

.team-social__link:hover .team-social__icon,
.team-social__link:focus .team-social__icon {
  fill: #ffffff;
}

.clients-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .clients-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    margin: -15px;
  }
}

.clients-list__item {
  height: 92px;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    margin: 15px;
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms linear, border 250ms linear;
}

.clients-list__link:hover, .clients-list__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients-list__icon {
  width: 106px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.logo--footer {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  display: block;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.contacts__item {
  margin-bottom: 9px;
}

.contacts__item:last-child {
  margin-bottom: 0px;
}

.contacts__address {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
}

.contacts__mail {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.71;
  transition: color 250ms linear;
}

.contacts__mail:hover, .contacts__mail:focus {
  color: #2196f3;
}

.contacts__tel {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.71;
  transition: color 250ms linear;
}

.contacts__tel:hover, .contacts__tel:focus {
  color: #2196f3;
}

.footer-left {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-left {
    margin-bottom: 60px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-left {
    margin-bottom: 0;
    text-align: left;
  }
}

.footer-address {
  margin-bottom: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-address {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
}

.social-footer-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-right {
    margin-left: 70px;
  }
}

@media screen and (max-width: 767px) {
  .right {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .right {
    width: 206px;
  }
}

.footer-right__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  justify-content: center;
  color: #ffffff;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social__list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  list-style: none;
}

.footer-social__link {
  display: flex;
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear;
}

.footer-social__link:hover, .footer-social__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.footer-social__list:last-child {
  margin-right: 0;
}

.footer-social__icon {
  fill: #ffffff;
  transition: fill 250ms linear;
}

.footer-social__icon:hover, .footer-social__icon:focus {
  fill: #ffffff;
}

.footer-form {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    text-align: left;
  }
}

.footer-subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form__input {
  width: 100%;
  min-height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    display: block;
    width: 450px;
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    display: inline;
    width: 358px;
    margin: 0 12px 0 0;
  }
}

.footer-form__input:hover, .footer-form__input:focus {
  background: #2f303a;
}

.footer-form__button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: #2196f3;
  border-color: transparent;
  color: #ffffff;
  transition: box-shadow 250ms linear, background-color 250ms linear;
}

@media screen and (max-width: 767px) {
  .footer-form__button {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
  }
}

.footer-form__button:focus, .footer-form__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
}

.footer-form__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  justify-content: center;
  vertical-align: middle;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .filter {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px;
  min-width: auto;
  line-height: 1.6;
  text-align: center;
  background-color: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms linear, color 250ms linear, box-shadow 250ms linear;
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-active {
  background-color: #2196f3;
  color: #ffffff;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .filter__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.flex-container__item {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .flex-container__item {
    width: 354px;
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .flex-container__item {
    width: 370px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

.flex-container__info {
  padding: 20px 24px;
}

.flex-container__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.flex-container__description {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.flex-container__link {
  display: block;
}

.flex-container__item:hover, .flex-container__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms linear;
}

.flex-container__box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
}

.flex-container__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: auto;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms linear;
}

.flex-container__link:hover .flex-container__text,
.flex-container__link:focus .flex-container__text {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */