.client-list {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin: -15px;
  }
  @media (min-width: $tablet) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    margin: -15px;
  }
}
.client-item {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin: -15px;
  }
  @media (min-width: $tablet) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    margin: -15px;
  }
}
.client-item:last-child {
  margin-right: 0;
}
.client-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms linear;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
